@model Management.Socket.Domain.Entities.Product
@{
    ViewBag.Title = "Produto Registro";
}

<div class="card mt-4">
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <h2>Criar Produtos</h2>
            <div class="input-group col-md-5 col-sm-5">

            </div>
        </div>

        @using (Html.BeginForm("create","product",FormMethod.Post))
        {
            <div class="col-md-12 row">
                <div class="mb-3 col-md-6">
                    <label for="exampleInputEmail1" class="form-label">Description</label>
                    <input asp-for="@Model.Description" class="form-control">
                    <div class="invalid-feedback">
                        Please provide a valid Description
                    </div>
                </div>

                <div class="mb-3 col-md-6">
                    <label for="exampleInputPassword1" class="form-label">Amount</label>
                    <input asp-for="@Model.Amount" class="form-control">
                    <div class="invalid-feedback">
                        Please provide a valid Quantidade
                    </div>
                </div>
            </div>

            <div class="col-md-12 row">
                <div class="mb-3 col-md-6">
                    <label for="disabledSelect" class="form-label">Disabled select menu</label>
                    <select asp-for="@Model.CategoryId" id="disabledSelect" class="form-select">
                        <option>Disabled select</option>
                        <option value="1">1</option>
                    </select>
                </div>

                <div class="mb-3 col-md-6">
                    <label for="disabledSelect" class="form-label">Disabled select menu</label>
                    <select asp-for="@Model.BrandId" id="disabledSelect" class="form-select">
                        <option>Disabled select</option>
                        <option value="1">1</option>
                    </select>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Salvar</button>
            <input type="submit"  class="btn btn-primary" value="Salvar">
        }
    </div>
</div>