@page
@model Management.Stock.Web.Views.Product.CreateModel
@{
}
<div class="card mt-4">
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <h2>Criar Produtos</h2>
            <div class="input-group col-md-5 col-sm-5">

            </div>
        </div>

        <form class="needs-validation" novalidate>
            <div class="col-md-12 row">
                <div class="mb-3 col-md-6">
                    <label for="exampleInputEmail1" class="form-label">Description</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div class="invalid-feedback">
                        Please provide a valid Description
                    </div>
                </div>

                <div class="mb-3 col-md-6">
                    <label for="exampleInputPassword1" class="form-label">Amount</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                    <div class="invalid-feedback">
                        Please provide a valid Quantidade
                    </div>
                </div>
            </div>

            <div class="col-md-12 row">
                <div class="mb-3 col-md-6">
                    <label for="disabledSelect" class="form-label">Disabled select menu</label>
                    <select id="disabledSelect" class="form-select">
                        <option>Disabled select</option>
                    </select>
                </div>

                <div class="mb-3 col-md-6">
                    <label for="disabledSelect" class="form-label">Disabled select menu</label>
                    <select id="disabledSelect" class="form-select">
                        <option>Disabled select</option>
                    </select>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>