@model Management.Socket.Domain.Entities.Brand
@{
}
<div class="card mt-4">
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <h2>Create Brand</h2>
            <div class="input-group col-md-5 col-sm-5">

            </div>
        </div>

        @using (Html.BeginForm("create", "brand", FormMethod.Post))
        {
            <div class="col-md-12 row">
                <div class="mb-3 col-md-6">
                    <label for="exampleInputPassword1" class="form-label">Description</label>
                    <input asp-for="@Model.Description" class="form-control" >
                    <div class="invalid-feedback">
                        Please provide a valid Description
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        }
        </div>
</div>