@model Management.Stock.Web.Models.CategoryViewModel
@{
}

<div class="card mt-4">
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <h2>Category</h2>
            <div class="input-group col-md-5 col-sm-5">
                <a href="/Category/create" class="btn btn-dark mr-3"> Create </a>

                <input type="text" class="form-control" placeholder="Search" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">Search</button>
                </div>
            </div>
        </div>
    </div>

    <div class="card-body">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Descrição</th>
                    <th scope="col" class="col-md-3">Ações</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.categories != null)
                {

                    @foreach (var category in Model.categories)
                    {
                        <tr>
                            <th scope="row">@category.Id</th>
                            <td>@category.Description</td>
                            <td>
                                <button type="button" class="btn btn-primary">Ver</button>
                                <button type="button" class="btn btn-warning">Editar</button>
                                <button type="button" class="btn btn-danger">Deletar</button>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>