@page
@model Management.Stock.Web.Views.Category.IndexModel
@{
}

<div class="card mt-4">
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <h2>Category</h2>
            <div class="input-group col-md-5 col-sm-5">
                <a href="/Category/create" class="btn btn-dark mr-3"> Create </a>

                <input type="text" class="form-control" placeholder="Search" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">Search</button>
                </div>
            </div>
        </div>
    </div>
</div>